<%= form_for :user, url: user_forget_path(token: params[:token]) do |f| %>

  <%= f.hidden_field :token, value: params[:token] %>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "Update Password" %>
  </div>
<% end %>